
# ignore dir
#build/
build/*.txt
build/Makefile
build/*.cmake
build/CMakeFiles
build/sdk_core
build/sample
build/sample_cc

# Qt build temporary files and folders
*.pro.user*
*.pri.*

#whitelist
!build/notes.txt


